[flake8]
exclude = .git,node_modules,*migrations*
max-line-length = 100
ignore =
    # Whitespace before ':'
    # black adds whitespaces around slices: https://github.com/psf/black/issues/315
    E203
    # Line too long
    E501
    # Line break occurred before a binary operator
    W503
    # Line break occurred after a binary operator
    W504
                                                                                                   