venv
nvenv
*.pyc
staticfiles
/static
/.idea
/media/**/*
!/media/boats/
!/media/boats/default/
!/media/boats/default/default_boat.png
!/media/homepage/
!/media/homepage/sailo_homepage_heart.jpg
!/media/users/
!/media/users/default/
!/media/users/default/default_image.jpg
!/media/cities/fl_ok.jpg
!/media/cities/hamptons_ok.jpg
!/media/cities/mb_ok.jpg
!/media/cities/miami9_ok.jpg
!/media/cities/ny_ok.jpg
!/media/cities/pb_ok.JPG
*.env
!*.sample.env
.foreman
Procfile.dev
TEST-*.xml
.python-version
/node_modules/
/tests_output/
*.log
htmlcov/
.coverage
.coverage.*
coverage.xml
.vscode/
